/debian/.debhelper/
/debian/axzez-interceptor-switch-dkms.debhelper.log
/debian/axzez-interceptor-switch-dkms.postinst.debhelper
/debian/axzez-interceptor-switch-dkms.prerm.debhelper
/debian/axzez-interceptor-switch-dkms.substvars
/debian/axzez-interceptor-switch-dkms/
/debian/debhelper-build-stamp
/debian/files
